.populares{
    background: #f0f0f0;
    padding: 3rem 0;
}
.populares__cabecalho{
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}
.popular__titulo{
    font-weight: 500;
}
.populares_icone{
    margin-right: .5rem;
}
.populares__botao{
    background: transparet;
    border: none;
    color: #333333;
}
.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}
.populares__card{
    background: #fdfdfd;
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    }
.populares__card:last-child{
    margin-right: 0;
}
.populares__card--imagem{
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}
.populares__card--corpo{
    display: grid;
    grid-area: card-corpo;
    gap: .5rem;
    grid-template-areas: 
        "card-cabelho"
        "card-conteudo";
        grid-row: 50px auto;
    
    padding: .75rem;
}
.populares__card--titulo{
    color: #333333;
    font-size: 1.3rem;
}
.populares__card--data{
    color: #808080;
    font-size: .9rem;
}
.populares__card--descricao{
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}

